﻿@model WebApp.ViewModels.FlightViewModel
@{
	ViewData["Title"] = "Flight Overview";
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<br />

<form method="post">
	<div class="col-md-12 search-flight row">
		<div class="col-md-3">
			<input class="form-control" type="text" name="From" style="float:right;" placeholder="From" />
		</div>
		<div class="col-md-3">
			<input class="form-control" type="text" name="To" style="float:right;" placeholder="To" />
		</div>
		<div class="col-md-3">
			<input class="form-control" type="date" name="Date" asp-for="@DateTime.UtcNow" style="float:right;" placeholder="Date" />
		</div>
		<div class="col-md-3">
			<button style="float:right;" type="submit" class="btn btn-block btn-primary" asp-action="SearchFlight" asp-controller="FlightService">Search</button>
		</div>
	</div>
</form>

<br />
<br />
<br />
<table class="table">
	<thead>
		<tr>
			<th>From</th>
			<th>To</th>
			<th>Airline</th>
			<th>Duration</th>
			<th>Empty seets</th>
			<th>Price</th>
			<th>Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var flight in Model.Flights)
		{
			<tr>
				<td>@flight.From</td>
				<td>@flight.To</td>
				<td>@flight.AirlineName</td>
				<td>@flight.Duration</td>
				<td>@flight.EmptySeets</td>
				<td>@flight.Price ‎€</td>
				<td>@flight.FlightTime.ToString("dd/MM/yyyy")</td>
				<td>
					<span><a id="@flight.FlightCode" asp-route-id="@flight.FlightCode" asp-action="BookAFlight" asp-controller="BookingService" class="btn btn-default">Book a flight</a></span>
				</td>
			</tr>
		}
	</tbody>
</table>
<a id="RegisterFlightButton" asp-action="New" asp-controller="FlightService" class="btn btn-default">Add new flight</a>


