﻿@model WebApp.ViewModels.FlightNewViewModel
@{
	ViewData["Title"] = "Add Flight";
}


<h3 id="PageTitle">Register customer</h3>

<form asp-controller="FlightService" asp-action="Register" method="post">
	<div class="form-group">
		<label asp-for="Flight.FlightCode"></label>
		<input asp-for="Flight.FlightCode" type="text" class="form-control" />
		<span asp-validation-for="Flight.FlightCode" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Flight.From"></label>
		<input asp-for="Flight.From" type="text" class="form-control" />
		<span asp-validation-for="Flight.From" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Flight.To"></label>
		<input asp-for="Flight.To" type="text" class="form-control" />
		<span asp-validation-for="Flight.To" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Flight.AirlineName"></label>
		<input asp-for="Flight.AirlineName" type="text" class="form-control" />
		<span asp-validation-for="Flight.AirlineName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Flight.Duration"></label>
		<input asp-for="Flight.Duration" type="text" class="form-control" />
		<span asp-validation-for="Flight.Duration" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Flight.Price"></label>
		<input asp-for="Flight.Price" type="text" class="form-control" />
		<span asp-validation-for="Flight.Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Flight.EmptySeets"></label>
		<input asp-for="Flight.EmptySeets" type="text" class="form-control" />
		<span asp-validation-for="Flight.EmptySeets" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Flight.FlightTime"></label>
		<input asp-for="Flight.FlightTime" type="date" class="form-control" />
		<span asp-validation-for="Flight.FlightTime" class="text-danger"></span>
	</div>
	<span><button id="SubmitButton" type="submit" class="btn btn-default">Register</button></span>
	<span><a id="CancelButton" asp-action="Index" asp-controller="FlightService" class="btn btn-default">Cancel</a></span>
</form>
