﻿@model WebApp.ViewModels.FlightOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Flight Management - offline</h3>
<p>Unfortunately the flight management module is offline at the moment. Try again soon.</p>

