﻿@model WebApp.ViewModels.FlightBookingViewModel
@{
	ViewData["Title"] = "Book a flight";
}

<h2>Flight details :</h2>
<form asp-controller="BookingService" asp-action="BookAFlight" method="post">
	<table class="table">
		<tbody>
			<tr>
				<td width="150">Flight code :</td>
				<td><b>@Model.Flight.FlightCode</b></td>
			</tr>
			<tr>
				<td width="150">Airline :</td>
				<td><b>@Model.Flight.AirlineName</b></td>
			</tr>
			<tr>
				<td width="150">Price :</td>
				<td><b>@Model.Flight.Price ‎€</b></td>
			</tr>
		</tbody>
	</table>
	<br />
	<h6>Select customer :</h6>

	<div class="form-group">
		<select asp-for="SelectedCustomerId" asp-items="Model.Customers" class="form-control"></select>
		<span asp-validation-for="SelectedCustomerId" class="text-danger"></span>
	</div>
	<h6>Select number of seets :</h6>

	<div class="form-group">
		<select asp-for="SelectedNumberOfSeets" asp-items="Model.Numbers" class="form-control"></select>
		<span asp-validation-for="SelectedNumberOfSeets" class="text-danger"></span>
		<input type="hidden" asp-for="CustomerName" />
	</div>
	<h6>More info :</h6>
	<div class="form-group">
		<input type="text" asp-for="Description" class="form-control" />
		<input type="hidden" asp-for="FlightId" value="@Model.Flight.FlightId" />
	</div>
	<span><button id="SubmitButton" type="submit" class="btn btn-default">Register</button></span>
</form>


