﻿@model WebApp.ViewModels.FlightBookingOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Booking Management - offline</h3>
<p>Unfortunately the booking management module is offline at the moment. Try again soon.</p>

