﻿@model WebApp.ViewModels.CustomerViewModel
@{
	ViewData["Title"] = "Customers Overview";
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<br/>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>City</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var customer in Model.Customers)
		{
			<tr class="clickable" onclick="location.href = '@(Url.Action("Details", "CustomerService", new { id = customer.CustomerId }))'">
				<td>@customer.Name</td>
				<td>@customer.Address</td>
				<td>@customer.City</td>
				<td>@customer.EmailAddress</td>
			</tr>
		}
	</tbody>
</table>
<a id="RegisterCustomerButton" asp-action="New" asp-controller="CustomerService" class="btn btn-default">Register customer</a>


