﻿@model WebApp.ViewModels.CustomerNewViewModel
@{
	ViewData["Title"] = "Register Customer";
}


<h3 id="PageTitle">Register customer</h3>

<form asp-controller="CustomerService" asp-action="Register" method="post">
	<div class="form-group">
		<label asp-for="Customer.Name"></label>
		<input asp-for="Customer.Name" type="text" class="form-control" />
		<span asp-validation-for="Customer.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Customer.Address"></label>
		<input asp-for="Customer.Address" type="text" class="form-control" />
		<span asp-validation-for="Customer.Address" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Customer.PostalCode"></label>
		<input asp-for="Customer.PostalCode" type="text" class="form-control" />
		<span asp-validation-for="Customer.PostalCode" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Customer.City"></label>
		<input asp-for="Customer.City" type="text" class="form-control" />
		<span asp-validation-for="Customer.City" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Customer.TelephoneNumber"></label>
		<input asp-for="Customer.TelephoneNumber" type="text" class="form-control" />
		<span asp-validation-for="Customer.TelephoneNumber" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Customer.EmailAddress"></label>
		<input asp-for="Customer.EmailAddress" type="text" class="form-control" />
		<span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
	</div>
	<span><button id="SubmitButton" type="submit" class="btn btn-default">Register</button></span>
	<span><a id="CancelButton" asp-action="Index" asp-controller="CustomerService" class="btn btn-default">Cancel</a></span>
</form>

